
__pycache__/
*.py[cod]
*$py.class


pdf_env/
.pdf_env
.pdf_cache


.Python
dist/
build/
*.egg-info/
*.egg
*.whl


.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/


.ipynb_checkpoints/


.mypy_cache/
.dmypy.json


.pyre/


cython_debug/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


logs/
*.log
*.tmp

